@use "../../base/base_variables";

.btn--toggle-graphmode {
    background: base_variables.$color-orange;
    border: 1px solid hsl(16, 89%, 40%);
    color: base_variables.$color-white;
    padding: .5rem 1rem;
    border-radius: 1rem;
    
    transition: .2s background;
    
    &:hover {
        background: hsl(16, 95%, 44%);
    }
}