@use '../../base/base_variables';

.card--portfolio-options {
    grid: "credits badge" 1fr
          "shares shares" max-content
          "btn-buy btn-sell" 1fr
          / 1fr 1fr;
    
    row-gap: 1rem;
    
    .share-count {
        grid-area: shares;
    }
    
    @media screen and (max-width: base_variables.$breakpoint-lg) {
        position: absolute;
        right: 1rem;
        bottom: -6.5rem;
    }
    
    @media screen and (max-width: base_variables.$breakpoint-md-sm) {
        position: static;
    }
}