@use "../../base/base_variables";

.content-heading-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media screen and (max-width: base_variables.$breakpoint-md-sm) {
        flex-direction: column;
        gap: 1rem;
    }
}