@use '../../base/base_variables';

.paginator:last-of-type {
    @media screen and (max-width: base_variables.$breakpoint-lg) {
        margin-top: 10rem; // Steer clear of the portfolio-options card that is positioned absolutely
    }
    
    @media screen and (max-width: base_variables.$breakpoint-md-sm) {
       margin-top: 2rem;
    }
}