@use '../../base/base_variables';

// might make this into a base component since we'll probably use it elsewhere

.paginator {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    
    @media screen and (max-width: base_variables.$breakpoint-lg) {
        .paginator__current-page {
            // visually center
            position: relative;
            left: -.3rem;
        }
    
        align-items: center;
        margin-top: 10rem; // steer clear of the portfolio-options card that is positioned absolutely
    }
    
    @media screen and (max-width: base_variables.$breakpoint-md-sm) {
       margin-top: 2rem;
    }
    
    .pagiator__buttons {
        // [?] I have no idea why we need flex here for the arrow buttons to align properly along the block axis. I need to learn svg better.
        display: flex;
        gap: .5rem;
    
        margin-top: .5rem;
        .btn--pager {
            width: 1.75rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: rgb(110, 209, 255);
            border: 1px solid rgb(110, 209, 255);
            
            transition: .2s background;
            &:hover {
                background: rgb(107, 193, 233);
                border: 1px solid rgb(69, 160, 203);
            }
            
            &:has(.arrow-icon) {
                position: relative;
                
                .arrow-icon {
                    position: absolute;
                    rotate: 90deg;
                    top: 0;
                    transform: translate(50%, 50%);
                    
                }
                
                .arrow-icon--right {
                    rotate: 90deg;
                    transform: translate(50%, 50%); // [?] Unknown: I have no clue why this works. I need to learn svg better
                }
                
                .arrow-icon--left {
                    rotate: -90deg;
                    transform: translate(-50%, -50%); // [?] Unknown: I have no clue why this works. I need to learn svg better
                }
            }
        }
        
    }
}