@use "../../base/base_variables";

#transaction-table {
    table-layout: fixed; // [?] Unknown: idk what this does
    
    /*
        Required for border-radius to take effect:
        https://www.w3.org/TR/CSS2/tables.html#separated-borders
        https://www.w3.org/TR/CSS2/tables.html#collapsing-borders
    */
    border-collapse: separate;
    border-spacing: 0;
    
    $border-value: 1px solid rgb(189, 189, 189);
    $cell-padding-vertical: 1rem;
    $cell-padding-horizontal: .5rem;
    
    margin-top: 1rem;
    // overflow: hidden; // why does this fuck up the table?
    
    /* Border radii */
    thead th {
        padding: $cell-padding-vertical;
    }
    thead tr:first-child th:first-child {
        border-top-left-radius: .5rem;
    }
    thead tr:first-child th:last-child {
        border-top-right-radius: .5rem;
    }
    tbody tr:last-child th:first-child,
    tbody tr:last-child td:first-child {
        border-bottom-left-radius: .5rem;
    }
    tbody tr:last-child th:last-child,
    tbody tr:last-child td:last-child {
        border-bottom-right-radius: .5rem;
    }
    
    /* Cell Borders */
    tbody th:first-child,
    tbody td:first-child {
        border-left: $border-value;
    }
    tbody td,
    tbody th {
        border-right: $border-value;
        border-bottom: $border-value;
    }
    
    td,
    th {
        white-space: nowrap;
        padding: $cell-padding-horizontal $cell-padding-vertical;
    }
    
    /* Cell widths */
    th:nth-child(1),
    td:nth-child(1) {
        // what happens when data widths don't add up to 100% in a row?
        // the children's width percentages are summed. the sum represents the parent width.
        // 30% / 60% = 1/2 = 0.5
        
        // if table width is auto, child percent widths do not work. why? should be based on fit-content
        // what if we want to go over 100% of the parent width?
        width: 30%;
    }
    th:nth-child(2),
    td:nth-child(2),
    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(4),
    td:nth-child(4) {
        width: 15%; // if table width is auto, child percent widths do not work. why?
    }

    
    /* Text alignment for numeric text data within cells */
    th:nth-child(2),
    td:nth-child(2),
    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(4),
    td:nth-child(4) {
        text-align: right;
    }
    
    /* Coloring */
    thead {
        background: rgb(5, 16, 38);
        color: base_variables.$color-white;
    }
    tbody tr {
        transition: .2s background;
        
        &:nth-child(odd) {
            &:hover {
                background: rgb(225, 223, 221);
            }
        }
        &:nth-child(even) {
            background: rgb(225, 225, 225);
            &:hover {
              background: rgb(220, 220, 220);  
            }
        }
    }

    td a {
        /* Fill cell */
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    
    td:has(a) {
        padding: 0;
        a {
            // Ensure padding is clickable area
            padding: $cell-padding-horizontal;
        }
    }
    
    @media screen and (max-width: base_variables.$breakpoint-sm) {
        tbody td,
        tbody th {
            padding: 1rem;
        }
        td:has(a) {
            padding: 0;
            a {
                // Ensure padding is clickable area
                padding: 1rem;
            }
        }
    }
    @media screen and (max-width: base_variables.$breakpoint-xxsm) {
        tbody td:nth-child(n+2),
        tbody th:nth-child(n+2) {
            text-align: center;
        }
    }
}

.mobile-overflow-wrapper {
    @media screen and (min-width: base_variables.$breakpoint-md) {
        width: 75%;
    }
    @media screen and (max-width: base_variables.$breakpoint-md-sm) {
        width: 100%;
    }
    
    overflow-x: auto;
    scrollbar-color: rgb(41, 42, 44) transparent;
    padding-bottom: .5rem;
}