@use '../../base/base_variables';

// First three .info_position elements:
.info-group .user-info:nth-child(-n + 3) {
    .info__position {
        color: base_variables.$color-orange;
        font-size: 2rem;
    }
}

.info-group {
    // We make this a grid instead so that all column tracks assume
    // ... the inline-length of the largest child item.
    // If we make the .user-info elements into a grid, they won't all have the
    // ... same track lengths.
    display: grid;
    grid: "place-value profile-image username credit-count" max-content
        / max-content max-content max-content max-content;
    gap: 1rem;
    align-items: center;
        
    margin-top: 2rem;
    
    .user-info {
        // For layout purposes, pretend like .user-info doesn't exist.
        display: contents;
        
        &:nth-child(n+2) {
            margin-top: 1rem;
        }
        // All children of user-info are placed automatically into the grid defined by .info-group.
        // This is so they each fill a newly created cell once the first row is filled.
        // If we define grid-area on these children, they'll all fill the same cell.
        .info__position {
            text-align: center;
            text-shadow: 0 2px 1px #00000016;
            color: hsla(251, 65%, 10%, 0.72);
            font-size: 1.5rem;
            width: 3rem; // [?] Unknown: Is there a better way in CSS to resolve the font width differences between number characters?
        }
        .info__avatar {
            border-radius: 50%;
            width: 2rem;
            aspect-ratio: 1 / 1;
            border: 1px solid grey;
        }
        .info__credits {
            color: base_variables.$color-orange;
            font-size: 1.5rem;
            justify-self: left;
        }
        
        .hidden-info {
            color: base_variables.$color-black;
            font-size: 1rem;
        }
    }
    
    @media screen and (max-width: base_variables.$breakpoint-md-sm) {
        display: block;

        .user-info {
            position: relative; // contain absolute children
            
            display: grid;
            grid: "place-value place-value" max-content
            "profile-image profile-image" max-content
            "username username" max-content
            "credit-count credit-count" max-content
                / 1fr 1fr;
            place-items: center;
            gap: 1rem;
            
            // Win against original .user-info selector
            &:nth-child(n) {
                margin-top: 3rem;
            }
            
            // :first-child is purely to win against the top three position selectors at the top of the file
            .info__position:first-child {
                grid-area: place-value;
                background: rgba(241, 220, 205, 0.603);
                border-radius: 50%;
                aspect-ratio: 1/1;
                
                font-size: 2.5rem;
                width: fit-content;
                padding: .6rem;
                
                // Center text within circle
                display: grid;
                place-items: center;
            }
            .info__avatar {
                grid-area: profile-image;
                width: 4rem;
            }
            .info__name {
                grid-area: username;
                font-size: 1.5rem;
            }
            .info__credits {
                grid-area: credit-count;
                justify-self: center; // override original justification
                font-size: 1.5rem;
            }
            .hidden-info {
                font-size: 1.32rem;
                font-style: italic;
            }
        }
        .user-info:nth-child(n+2)::before {
            content: "";
            display: block;
            width: 100%;
            height: .1rem;
            background: rgb(221, 221, 221);
            
            position: absolute;
            top: -1.5rem;
        }
        .user-info:nth-child(n + 4) {
            .info__position {
                background: rgba(221, 221, 221, 0.603);
            }
        }
    }
// $breakpoint-lg: 78rem;

// $breakpoint-md-lg: 70rem;
// $breakpoint-md: 66rem;
// $breakpoint-md-sm: 59rem;

// $breakpoint-sm: 54rem;
// $breakpoint-xsm: 48rem;
// $breakpoint-xxsm: 32rem;
}