@use "../../base/base_variables";

.paginator {
    // For the cool visual effect where the paginator is on the same horizontal plane as the
    // ... absolute .card--thread-options card.
    @media screen and (max-width: 64rem) {
        &:last-child {
            margin-top: 8rem;
        }
    }
    @media screen and (max-width: base_variables.$breakpoint-md-sm) {
        &:last-child {
            margin-top: 2rem;
        }
    }
    
    @media screen and (max-width: base_variables.$breakpoint-lg) {
        .paginator__current-page {
            position: static;
            left: 0;
        }
    
        align-items: start;
    }
    
    @media screen and (max-width: base_variables.$breakpoint-md-sm) {
        .paginator__current-page {
            // Visually center
            position: relative;
            left: -.3rem;
        }
    
        align-items: center;
    }
    
    @media screen and (max-width: base_variables.$breakpoint-xsm) {
        .paginator__current-page {
            position: static;
            left: 0;
        }
    
        align-items: start;
    }
    
    @media screen and (max-width: base_variables.$breakpoint-xxsm) {
        .paginator__current-page {
            // Visually center
            position: relative;
            left: -.3rem;
        }
    
        align-items: center;
    }
}