@use "../base_variables";

/*===
Button class
==== */

.btn {    
    text-decoration: none;
    border-radius: 1rem;
    
    font-size: 1.25rem;
    
    transition: .4s outline-color, .4s box-shadow ease;
}

/*===
Button color modifiers
==== */

.btn--orange {
    border: 2px solid rgba(255, 68, 0, 0.64);
    
    font-size: 1.25rem;
    text-shadow: 0 1px 0 rgba(156, 161, 170, 0.32);
    color: #FF4500;
    
    box-shadow: 0 0 6px transparent;
    &:hover {
        box-shadow: 0 0 3px rgba(255, 68, 0, 0.64);
    }
}

.btn--black {
    padding: 0 1.5rem;
    
    color: base_variables.$color-white;
    background: base_variables.$color-black;
    
    outline: 2px dashed transparent;
    outline-offset: -4px;
    &:hover {
        outline-color: base_variables.$color-white;
    }
}

.btn--register {
    // Also does away with descender whitespace that comes by default with display: inline
    display: grid;
    // [?] Unknown: how does this affect text nodes within a parent under the influence of align-items: stretch?
    // I guess it centers it verically.. odd...
    place-items: center;
    
    height: 3rem;
    width: 8.5rem;
    
    // LTE 
    @media screen and (max-width: base_variables.$breakpoint-md-lg) {
        width: 6.5rem;
        font-size: 1rem;
    }
}

.btn--login {
    // Also does away with descender whitespace that comes by default with display: inline
    display: grid;
    // [?] Unknown: how does this affect text nodes within a parent under the influence of align-items: stretch?
    // I guess it centers it verically.. odd...
    place-items: center;
    
    height: 3rem;
    width: 6.5rem;
    
    // LTE 
    @media screen and (max-width: base_variables.$breakpoint-md-lg) {
        width: 5.5rem;
        font-size: 1rem;
    }
}

.btn--danger {
    background: rgb(215, 60, 60);
    color: base_variables.$color-white;
    padding: 0 1rem;
    border-radius: 1rem;
    
    outline: 2px dashed transparent;
    outline-offset: -4px;
    &:hover {
        outline-color: base_variables.$color-white;
    }
}

/*===
Button size modifiers
==== */

.btn--medium {
    font-size: 1rem;
    height: 2.5rem;
}