@use '../../base/base_variables';

.paginator {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    
    @media screen and (max-width: base_variables.$breakpoint-lg) {
        .paginator__current-page {
            // Visually center
            position: relative;
            left: -.3rem;
        }
    
        align-items: center;
    }
    
    .pagiator__buttons {
        // [?] I have no idea why we need flex here for the arrow buttons to align properly along the block axis. I need to learn svg better.
        display: flex;
        gap: .5rem;
    
        margin-top: .5rem;
        
        .btn--pager {
            width: 1.75rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            
            background: rgb(110, 209, 255);
            border: 1px solid rgb(110, 209, 255);
            box-shadow: 0 2px 0 rgba(177, 177, 177, 0.35);
            
            // Disable user selection of button text
            user-select: none;
            
            transition: .4s background, .2s border-color;
            
            &:hover {
                background: rgb(107, 193, 233);
                border-color: rgb(69, 160, 203);
            }
            
            &:has(.arrow-icon) {
                // Allow absolute svg arrow-icon to be placed relative to button parent
                position: relative;
                
                .arrow-icon {
                    position: absolute;
                    rotate: 90deg;
                    top: 0;
                    // [?] Unknown: I have no clue why this works. I need to learn svg better
                    transform: translate(50%, 50%);
                }
                
                .arrow-icon--right {
                    rotate: 90deg;
                    // [?] Unknown: I have no clue why this works. I need to learn svg better
                    transform: translate(50%, 50%);
                }
                
                .arrow-icon--left {
                    rotate: -90deg;
                    // [?] Unknown: I have no clue why this works. I need to learn svg better
                    transform: translate(-50%, -50%);
                }
            }
        }
        
        .btn--current-pager {
            background: rgb(101, 185, 225);
            border-color: rgb(48, 125, 161);
            
            &:hover {
                background: rgb(101, 185, 225);
                // Don't change the border color on hover
                border-color: rgb(48, 125, 161);
            }
        }
        
    }
}