.sort-control {
    position: relative; // act as the container for absolute .filter__input
    width: fit-content;
    
    padding: .5rem .8rem;
    border-radius: 1rem;
    
    --color-bg: rgb(225, 139, 81);
    --color-bg--hover: rgb(214, 131, 76);
    --color-border: rgb(160, 81, 29);
    
    &:has(.filter__input:checked) {
        --color-bg: rgb(215, 121, 59);
        --color-bg--hover: rgb(203, 111, 50);
        --color-border: rgb(138, 70, 28);
    }
    
    background: var(--color-bg);
    border: 1px solid var(--color-border);
    transition: .2s background, .2s border-color;
    
    &:hover {
        background: var(--color-bg--hover);
    }
    
    .control__label {
        user-select: none;
    }
    
    .control__input {
        appearance: none;
        background: rgba(255, 0, 0, 0);
        width: 100%;
        height: 100%;
        position: absolute; // new stacking context; ??? how's it work again to be on top?
        left: 0;
        top: 0;
        border-radius: 1rem;
        
        &:hover {
            cursor: pointer;
        }
    }
    
    .btn--toggle-order {
        box-sizing: content-box; // easier calculations for perfect circles w/ borders
        width: 1rem;
        height: 1rem;
        border: 1px solid rgb(128, 89, 25);
        background: rgb(222, 151, 88);
        border-radius: 50%;
        
        font-weight: bolder; // no effect with chosen symbol. choose another
        
        margin-left: .5rem;
    }
}