/////////////////////
// Color variables //
/////////////////////

$color-white: hsl(220, 7%, 92%);
$color-orange: hsl(16, 99%, 46%);
$color-orange-light: hsl(16, 99%, 51%);
$color-black: hsl(278, 18%, 9%);

//////////////////////////
// Breakpoint variables //
//////////////////////////

$breakpoint-lg: 78rem;

$breakpoint-md-lg: 70rem;
$breakpoint-md: 66rem;
$breakpoint-md-sm: 59rem;

$breakpoint-sm: 54rem;
$breakpoint-xsm: 48rem;
$breakpoint-xxsm: 32rem;