.card--portfolio-options {
  grid: "credits badge" 1fr "shares shares" max-content "btn-buy btn-sell" 1fr/1fr 1fr;
  row-gap: 1rem;
}
.card--portfolio-options .share-count {
  grid-area: shares;
}
@media screen and (max-width: 78rem) {
  .card--portfolio-options {
    position: absolute;
    right: 1rem;
    bottom: -6.5rem;
  }
}
@media screen and (max-width: 59rem) {
  .card--portfolio-options {
    position: static;
  }
}

#sort-fieldset {
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 66rem) {
  #sort-fieldset {
    justify-content: center;
  }
}

.sort-control {
  position: relative;
  width: fit-content;
  transform: translateY(-2px);
  box-shadow: 0 2px 0 rgb(177, 177, 177);
  /* Visual space to put the absolutely positioned .btn--toggle-order into */
  padding: 0.5rem 2.8rem 0.5rem 0.8rem;
  border-radius: 1rem;
  overflow: hidden;
  --color-bg: rgb(237 167 115);
  --color-bg--hover: rgb(222 152 107);
  --color-border: rgb(145 85 45);
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  transition: 0.2s background, 0.2s border-color, 0.2s transform, 0.2s box-shadow, 0.2s outline;
}
.sort-control:has(.control__input:checked) {
  --color-bg: rgb(211 136 87);
  --color-bg--hover: rgb(219 142 92);
  --color-border: rgb(127 62 18);
  transform: none;
  box-shadow: 0 0 0 transparent;
}
.sort-control:hover {
  background: var(--color-bg--hover);
}
.sort-control .control__label {
  user-select: none;
}
.sort-control .control__input {
  appearance: none;
  background: transparent;
  /* Fill the parent ( .sort-control ) */
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sort-control .control__input:hover {
  cursor: pointer;
}
.sort-control .btn--toggle-order {
  box-sizing: content-box;
  width: 1rem;
  height: 1rem;
  border: 1px solid rgb(128, 89, 25);
  background: rgb(222, 151, 88);
  border-radius: 50%;
  /*
      Make a stacking context and draw element over-top .control__input to allow clicks.
      This element appears later in the source order than absolute .control__input,
      ... so it appears on top.
  */
  isolation: isolate;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  transition: 0.2s background;
}
.sort-control .btn--toggle-order:hover {
  background: rgb(230, 172, 120);
}
.sort-control .btn--toggle-order .order-icon {
  display: inline-block;
  rotate: -180deg;
  width: 100%;
  height: 100%;
}
.sort-control .btn--toggle-order .order-icon svg {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 78rem) {
  .paginator:last-of-type {
    margin-top: 10rem;
  }
}
@media screen and (max-width: 59rem) {
  .paginator:last-of-type {
    margin-top: 2rem;
  }
}

.btn--toggle-graphmode {
  background: hsl(16, 99%, 46%);
  border: 1px solid hsl(16, 89%, 40%);
  color: hsl(220, 7%, 92%);
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.2s background;
}
.btn--toggle-graphmode:hover {
  background: hsl(16, 95%, 44%);
}

.content-heading-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 59rem) {
  .content-heading-row {
    flex-direction: column;
    gap: 1rem;
  }
}

/*# sourceMappingURL=portfolio.css.map */
